
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div>
    <form method="post">
          <table>
              <tr>
                  <td align="right"> <label id="email">E-Mail Address: </label> </td>
                  <td> <input type="text" id="email" name="email" /> </td>
              </tr>
              <tr>
                  <td align="right"> <label id="id">User ID: </label> </td>
                  <td> <input type="text" id="user_id" name="user_id" /> </td>
              </tr>
              <tr>
                  <td align="right"> <label id="password">New Password: </label> </td>
                  <td> <input type="text" id="password" name="password" /> </td>
              </tr>
              <tr>
                  <td></td>
                  <td align="right">
                      <input type="submit" value="Submit"/>
                  </td>
              </tr>
          </table>
    </form>
</div>
<div>
    @{
        if (IsPost)
        {
            var resultString = Html.Action("ActivateChangePassword", "Password", new { email = Request["email"], id = Request["user_id"], password = Request["password"] });
            @Html.Raw(resultString)
        }
    }
</div>

