img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

body {
  background-image: url("michal-mrozek-1238448-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.button a
{
	color: black;
}

a:hover {
	color: grey;
}

.resize
{
	width: 400px;
	height: auto;
}

.boxed {
	height: auto;
	/*border: 1px solid white;*/
	border-radius: 20px;
	padding: 30px;
	background-color: white;
	margin: auto;
	margin-top: 10%;
	width: 30%;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

#input input
{
	margin-bottom: 10px;
}


.mFooter {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/* THINGS CHANGED IN LOGIN.HTML
*
* <h2>Login</h2> was changed and moved
* div class boxed was added to body
* div class button was added to course catalog
* div id input was added immedietly after the second body function
* in the <head> a link was added to call this css file