.results {
    width: 98%;
}

table, th {
    border: 3px solid black;
    background-color: white;
    border: solid 0px green;
    border-spacing: 0px;
}

th {
    background-color: black;
}
body{
  background-image: linear-gradient(to bottom, skyblue,lightblue );
  background-repeat: repeat-x;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li {
  float: left;
} 

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:hover{
  color: white;
}

.results{
    padding: 5px;
}

#lines td 
{
	border-left: 2px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
}

.active {
  background-color: red;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
  display: block;
}

.section-one ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

.section-two ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.spread-one li {
  padding: 30px;
}

.floating li{
  float: none;
}

.tableheader tr {
  background-color: black;
  text-decoration-color: white;
}


.courses td
{
  border: 0px solid black
}

.majors td {
  border: 1px solid black;
  padding-right: 250px;
  padding-top: 0px
}

.ul ul
{
  margin-right: auto;
  width: 100%;
}

/*CHANGED MADE TO SEARCH SECTION
*	Added the dropdown menu at the top. div container
*
*/


























