.tableheader th {
    background-color: black;
    color: white;
    padding: 3px;
}

.resultsTable  {
    background-color: white;
    /*border: solid 0px green;*/
    border-spacing: 0px;
    border-left: 3px solid black;
    border-bottom: 1px solid black;
}

.resultsTable tr td {
    border-right: 3px solid black;
    margin-bottom: 4px;
}
