
@{
    ViewBag.Title = "Degree Audit";
    Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
}
<link rel="stylesheet" href="~/Content/searchTable.css" />
<table class="searchTable">
    <tr>
        <td>
            <form method="post">
                <input type="text" required name="studentID" placeholder="Student ID" />
                <input type="submit" value="GO" />
            </form>
        </td>
    </tr>
</table>

@{
    if (IsPost)
    {
        TempData["studentID"] = Request["studentID"];
        Response.Redirect(Url.Action("ViewDegreeAuditSelector", "Faculty", new { majorID = Request.Form["majorSelector"], studentID = Request["studentID"] }));
    }
}
