
@{
    ViewBag.Title = "FacultyHome";
    Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
}
<link rel="stylesheet" href="~/Content/faculty.css" />

@Html.Raw("Your ID: " + Session["UserID"])

<table style="width:100%;">
    <tr>
        <td style="width:50%;">
            @Html.Action("FacultySchedule", "Faculty", new { userID = Session["UserID"], semester = getSemesterSeason(), year = getSemesterYear()})
        </td>
    </tr>
</table>

@functions{ 
    private static String getSemesterSeason()
    {
        DateTime now = DateTime.Now;
        if (now.Month < 5)
        {
            return "Spring";
        }
        else if (now.Month < 9)
        {
            return "Summer";
        }
        else
        {
            return "Fall";
        }
    }

    private static String getSemesterYear()
    {
        return DateTime.Now.Year.ToString();
    }
}