
@{
    ViewBag.Title = "ViewTranscriptSelector";
    Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
}

<link rel="stylesheet" href="~/Content/searchTable.css" />
<form method="post">
    <strong><big>Enter Student ID:</big></strong>
    <table style="margin-top:5px;" class="searchTable">
        <tr>
            <td>
                <input type="text" name="id_box" placeholder="Student ID" required />
                <input type="submit" value="GO" />
            </td>
        </tr>
    </table>

    @{
        if (IsPost)
        {
            @Html.Action("ViewTranscript", "Faculty", new { studentID = Request["id_box"] });
        }
    }
</form>

