<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Harbor View University</title>
</head>
<body>
    <div>
        @RenderBody()
        <footer>
            <p class="mFooter">&copy;Harbor View University</p>
        </footer>
    </div>

</body>
</html>