@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<body>
    <div>
        <form method="post">
            <label id="email_label">Email: </label>
            <input type="text" id="email_field" name="email" />
            </br>
            <label id="password_label">Password: </label>
            <input type="text" id="password_field" name="password"/>
            <br />
            <input type="submit" id="submit" value="submit" />
            <div id="test_div"></div>
        </form>
    </div>
    <div name="catalog_link">
        @Html.ActionLink("Course Catalog", "Catalog", "Catalog") 
        <!--(link text, controller method name, controller name)-->
    </div>
</body>
@{
    if (IsPost)
    {
        String result = WebApplication3.Models.UserDbConnectionClass.login("select case [type_id] When 1 then 'Student' When 2 then 'Faculty' When 3 then 'Admin' When 4 then 'Researcher' End from[user] where[email] = '" + Request["email"] + "' and [password]= '" + Request["password"] + "'");
        if (result == "Student")
        {
            var userID = Html.Action("getUserID", "Home", new { email = Request["email"]});
            TempData["UserID"] = userID;
            Response.Redirect(Url.Action("StudentHome", "Student")); //(method name, controller name)

        }
        else
        {
            @Html.Raw("<text>Error: username or password incorrect!</text>")
        }
    }
}