@model WebApplication3.HelperClasses.ViewScheduleHelper
@{
    ViewBag.Title = "Remove Enrollment";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div>
    <link rel="stylesheet" href="~/Content/searchTable.css" />
    
</div>


@{
        if (Session["UserID"] != null)
        {
            @Html.Action("RemoveEnrollmentResults", "Student", new { userID = Session["UserID"], semester = Request.Form["semesterSelector"], year = Request.Form["yearSelector"] });
        }
}


