@using WebApplication3.HelperClasses;
@model String
@{
    Layout = null;
    ViewBag.Title = "Search Sections";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <form method="post">
            <label id="input">Search: </label>
            <input type="text" name="input" />
            <input type="submit" id="submit" value="Search" />
        </form>
    </div>
    @{
        if (IsPost)
        {
            @Html.Action("SearchSectionResults", "Student", Request["input"]);
        }
    }
</body>
</html>
