@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Student Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>Student Home</title>
    <link rel="stylesheet" href="~/Content/student.css">
</head>

<body>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href=#register>Registration</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Academics</a>
            <div class="dropdown-content">
                <a href="#AddDrop">Add/Drop Section</a>
                <a href="#Advisor">View Advisor</a>
                <a href="#Holds">View Holds</a>
                <a href="#transcript">View Transcript</a>
                @Html.ActionLink("Search Sections", "SearchSection", "Student")
            </div>
        </li>
        <li><a href=#audit>Degree Audit</a></li>
    </ul>
    <p>Hello World</p>

</body>
</html>