@model List<WebApplication3.HelperClasses.Advisor>
@{
    ViewBag.Title = "My Advisors";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}


<head>
    <link rel="stylesheet" href="~/Content/hold.css" />
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>E-Mail</th>
        </tr>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.name</td>
                <td>@v.department</td>
                <td>@v.email</td>
            </tr>
        }
    </table>
</body>

