@model List<WebApplication3.HelperClasses.Hold>
@{
    ViewBag.Title = "My Holds";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<head>
</head>
<body>
    <!--<ul>
        <li><a class="active" href="#home">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">Registration</a>
            <div class="dropdown-content">
            @{
                //@Html.ActionLink("Search Sections", "SearchSection", "Student")
            }
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Academics</a>
            <div class="dropdown-content">
                @if (TempData["userID"] != null)
                {
                    //@Html.ActionLink("View Holds", "ViewHolds", "Student", new { userID = TempData["UserID"].ToString() }, null)
                    //@Html.ActionLink("View Advisors", "ViewAdvisor", "Student", new { userID = TempData["UserID"].ToString() }, null)
                }
            </div>
        </li>
        <li><a href=#audit>Degree Audit</a></li>
    </ul>
        -->
    <link rel="stylesheet" href="~/Content/hold.css" />
    <table class="holds">
        <tr class="tableheader">
            <th>Type</th>
            <th>Semester</th>
            <th>Year</th>
        </tr>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.holdType </td>
                <td>@v.semester</td>
                <td>@v.year</td>
            </tr>
        }
    </table>
</body>

