@model List<WebApplication3.HelperClasses.Hold>
@{
    ViewBag.Title = "My Holds";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<head>
</head>
<body>

    <link rel="stylesheet" href="~/Content/hold.css" />
    <table class="holds">
        <tr class="tableheader">
            <th>Type</th>
            <th>Semester</th>
            <th>Year</th>
        </tr>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.holdType </td>
                <td>@v.semester</td>
                <td>@v.year</td>
            </tr>
        }
    </table>
</body>

