@using WebApplication3.HelperClasses;
@model List<Major>
@{
    ViewBag.Title = "EditMajorOption";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<link href="~/Content/searchTable.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/TableTemplate.css" />


<div>
    @using (Html.BeginForm("EditMajor", "Administrator", FormMethod.Post))
    {
        <table>
            <tr>
                <td><strong>Major:</strong> </td>
                <td>
                    <select id="majorSelector" name="majorSelector" required>
                        <option value="">---Select---</option>
                        @foreach (var m in Model)
                        {
                            <option value="@m.majorID">@m.name</option>
                        }
                    </select>
                </td>
                <td>
                    @Html.Hidden("majorID", Request.Form["majorSelector"])
                    <input type="submit" id="submit" value="Submit" />
                </td>
            </tr>
        </table>
    }
 </div>

