@using WebApplication3.HelperClasses;
@model List<Course>

@{
    Layout = null;
}

<link rel="stylesheet" href="~/Content/TableTemplate.css" />
@using (Html.BeginForm("EditMajorSelector", "Administrator", FormMethod.Post))
{
    <div>
        <table>
            <tr>
                <td>
                    <select id="courseSelector" name="courseSelector" required>
                        <option value="">---Select---</option>
                        @foreach (var c in Model)
                        {
                            <option value="@c.id">@c.courseName</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="elective" name="electiveSelector" required>
                        <option value="">---Select---</option>
                        <option value="Required">Required</option>
                        <option value="Elective">Elective</option>
                    </select>
                </td>
                <td>
                    <input type="submit" id="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </div>
}@*@{ 
if (IsPost)
{
            @Html.Action("EditMajorResult", "Administrator", new { courseID = Request.Form["courseSelector"], courseAttr = Request.Form["electiveSelector"] })

        }
}*@
