@using WebApplication3.HelperClasses;
@model EditMajor

@{
    ViewBag.Title = "EditMajorSelector";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<link rel="stylesheet" href="~/Content/Background.css" />


<form name="editCourse2" method="post">
    <div>
        <table>
            <tr>
                <td><strong>Courses:</strong> </td>
                <td>
                    <select id="courseSelector" name="courseSelector" required>
                        <option value="">---Select---</option>
                        @foreach (var c in Model.courses)
                        {
                            <option value="@c.id">@c.courseName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Course Type:</strong> </td>
                <td>
                    <select id="courseAtrSelector" name="courseAtrSelector" required>
                        <option value="default">---Select---</option>
                        <option value="Required">Required</option>
                        <option value="Elective">Elective</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="submit" value="Update" />
                </td>
            </tr>
           
        </table>
    </div>
</form>

@{
    if (IsPost)
    {
        Response.Redirect(Url.Action("EditMajorResult", "Administrator", new {
            courseID = Request.Form["courseSelector"], courseAttr = Request.Form["courseAtrSelector"], majorID = Model.major }));
    }
}

