@model List<WebApplication3.HelperClasses.StudentInfo>
    <link rel="stylesheet" href="~/Content/TableTemplate.css" />
    @{
        Layout = null;
    }

    <head>
    </head>
    <body>

        <link rel="stylesheet" href="~/Content/hold.css" />
        <table class="holds">
            <tr class="tableheader">
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>zip</th>
            </tr>
            @foreach (var v in Model)
            {
            <tr>
                <td>@v.streetName</td>
                <td>@v.city</td>
                <td>@v.state</td>
                <td>@v.zip</td>
            </tr>
            }
        </table>
    </body>
