@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Course Catalog";
}

<body>
    <style>
        table,th,td{
            border: 1px solid black;
        }
        td {
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
    <div name="course_div">
        @Html.Raw(Html.Action("GetCourses", "Home"))
    </div>
</body>
